@import url('https://fonts.googleapis.com/css?family=Gugi');

body{
    font-family: 'Gugi', arial, sans-serif;

}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.Header{

    width: 100%;
    height: 8vh;
    background: #444;
}

.Projects h1{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: blueviolet;
    color:#fff;
    grid-column:1/3;


}
.Project{
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    transition: all ease-in-out;
    animation: colorchange 15s infinite; 
  
  }
.Projects{
    display: grid;
    grid-template-columns:1fr 1fr; 
}

.projectContainer{
    border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

  @keyframes colorchange
  {
    0%   {background: #9198e5}
    25%  {background: #6A1B9A}
    50%  {background: #FF7043;}
    75%  {background: #4DD0E1}
    100% {background: #EC407A}
  }